[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Pawel Reich

[merge]
    conflictstyle = zdiff3

[absorb]
    maxStack=500
    forceAuthor=true

[rerere]
    enabled = true
    autoupdate = true

[difftool]
    prompt = false

[pager]
    difftool = true

[diff]
    tool = difftastic

[core]
    excludesFile = ~/.config/.gitignore

[commit]
    verbose = true

[status]
    submoduleSummary = -1
